NEXT_PUBLIC_APP_NAME=""
NEXT_PUBLIC_BASE_URL='http://youradmindomain.com'
NEXT_PUBLIC_WS_URL='wss://youradmindomain.com/app/test'
NEXT_PUBLIC_HOST_SOCKET="youradmindomain.com"
NEXT_PUBLIC_HOSTED_CLIENT_URL='http://yourfrontenddomain.com/'

NEXT_PUBLIC_CRISP_ID="16ec5ccf-1e65-4a97-bac7-147137e085a0"
NEXT_PUBLIC_FAVICON="YOUR FAVICON URL"

#This key need to be same from laravel backend env "NEXT_PUBLIC_SECRET_KEY"
NEXT_PUBLIC_SECRET_KEY="h0vWu6MkInNlWHJVfIXmHbIbC66cQvlbSUQI09Whbp"

## Stripe
NEXT_PUBLIC_PUBLISH_KEY = "your_key"
NEXT_PUBLIC_STRIPE_SECRET_KEY= "your_key"
##

NEXT_PUBLIC_PAYPAL_CLIENT_KEY="your_key"

NEXT_PUBLIC_WSS_PORT="6006"

NEXT_PUBLIC_DEMO_MODE = 

NEXT_PUBLIC_SEO_TITLE = "Tradexpro is a Crypto Currency Exchange Platform."
NEXT_PUBLIC_SEO_DES = "Tradexpro is a Crypto Currency Exchange Platform."
NEXT_PUBLIC_SEO_KEYWORDS = "exchange,tradex,spottrading,Crypto"

NEXT_PUBLIC_FACEBOOK_APP_ID = "your_app_id"
NEXT_PUBLIC_GOOGLE_CLIENT_ID = "your_client_id"
NEXT_PUBLIC_APPLE_CLIENT_ID = "your_client_id"


NEXT_PUBLIC_GOOGLE_REDIRECT_URI = "google_redirect_url"
NEXT_PUBLIC_APPLE_REDIRECT_URI = "apple_redirect_url"